@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
	--paleBlue: hsl(243, 100%, 93%);
	--grayishBlue: hsl(229, 7%, 55%);
	--darkBlue: hsl(228, 56%, 26%);
	--veryDarkBlue: hsl(229, 57%, 11%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--veryDarkBlue);
	background-image: url(/images/bg-desktop.png);
	background-position: bottom;
	background-repeat: no-repeat;
	font-family: 'Raleway', sans-serif;
	color: #fff;
	height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1200px;
	height: 500px;
	margin: 50px auto;
}

.tools-section {
	display: flex;
	align-items: center;
	width: 350px;
	height: 200px;
	/* border: 1px solid #fff; */
	flex-wrap: wrap;
	flex-direction: row;
	background-color: var(--darkBlue);
	border-radius: 10px;
	border-top-right-radius: 100px;
	margin: 30px;
}

ul,
.logo {
	/* border: 1px solid #fff; */
	margin: 10px 10px;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 200px;
}

ul li {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	align-items: center;
	background-color: var(--veryDarkBlue);
	/* border: 1px solid #fff; */
	padding: 5px;
	margin: auto 10px;
}

.storage {
	width: 500px;
	height: 180px;
	border: 1px solid #fff;
	background-color: var(--darkBlue);
}
