@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #2d314d;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #9698a6;
  line-height: 1.5;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.cta {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3rem;
  color: white;
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  border: none;
  outline: none;
  width: max-content;
  transition: box-shadow 450ms ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

nav {
  position: relative;
  background-color: white;
  padding: 1.2rem 0;
  z-index: 7;
}

.navbar {
  display: flex;
  align-items: center;
}

.toggle__btn {
  position: absolute;
  right: 3rem;
  border: none;
  background-color: inherit;
  padding: 0.3rem;
  outline: none;
}

.nav__cta {
  display: none;
}

.nav__links--mobile {
  display: flex;
  flex-direction: column;
}

.nav__links {
  display: none;
}

.mobile {
  text-align: center;
  background-color: white;
  display: block;
  position: absolute;
  z-index: 5;
  top: 5rem;
  right: 3rem;
  left: 3rem;
  height: 280px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 20px 200px #2d314d;
  transition: all 10000s ease-in;
}
.mobile li {
  padding: 0.4rem 0;
}
.mobile li a {
  text-decoration: none;
  color: #2d314d;
}
.mobile li a:hover {
  color: #31d35c;
}
.mobile li + li {
  margin-top: 1rem;
}

.hero__content {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
}
.hero__text {
  padding-top: 2rem;
}
.hero__content .hero__img .hero__img--bg {
  background-image: url("/images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0rem -5rem;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69%;
  z-index: -1;
}
.hero__content .hero__img .hero__img--mockup {
  margin-top: -8.5rem;
}
.hero__title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.hero__desc {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.features {
  background-color: #f3f4f6;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.features__text {
  margin-bottom: 4rem;
}
.features__title {
  font-size: 2rem;
}
.features__card--desc {
  font-size: 1rem;
}
.features__img {
  margin-bottom: 1.5rem;
}

.articles {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.articles__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.articles__cards {
  display: flex;
  flex-direction: column;
}
.articles__card {
  margin-bottom: 1.5rem;
  border-radius: 5px;
}
.articles__card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 100%;
}
.articles__card--author {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.articles__text {
  padding: 2rem;
}
.articles__card--excerpt {
  font-size: 0.9rem;
}

.footer {
  background-color: #2d314d;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.footer__social--icons {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer__nav--links {
  color: white;
  margin-bottom: 2rem;
  line-height: 2;
}
.footer__nav--link {
  font-size: 1rem;
}
.footer__copyright {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.attribution {
  background-color: #f3f4f6;
  text-align: center;
  font-size: 0.8rem;
  color: #2d314d;
}

@media only screen and (min-width: 770px) {
  nav {
    padding-bottom: 0.5rem;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .toggle__btn {
    display: none;
  }

  .cta {
    transition: all 100ms ease-in;
  }

  .cta:hover {
    opacity: 0.5;
  }

  .nav__cta {
    display: inline-block;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.2rem;
  }
  .nav__links li + li {
    margin-left: 2rem;
  }
  .nav__links li a {
    color: #9698a6;
    letter-spacing: -1px;
    position: relative;
    text-decoration: none;
  }

  .nav__link {
    padding-bottom: 1.5rem;
    border-bottom: 5px solid transparent;
    cursor: pointer;
  }

  .nav__link:hover {
    border-bottom: 5px solid #31d35c;
  }

  .hero__content {
    flex-direction: row;
    padding-bottom: 0;
  }
  .hero__text {
    max-width: 50%;
    text-align: left;
    padding-right: 5rem;
    padding-top: 12rem;
  }
  .hero__img {
    max-width: 45%;
  }
  .hero__content .hero__img .hero__img--bg {
    left: 40vw;
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: 0rem -18rem;
    height: 100%;
  }
  .hero__content .hero__img .hero__img--mockup {
    margin-top: -5rem;
    margin-right: -10rem;
  }
  .hero__content .hero__img .hero__img--mock {
    margin-left: 10rem;
  }
  .hero__title {
    width: 80%;
    font-size: 3.5rem;
  }
  .hero__desc {
    width: 80%;
  }

  .features {
    text-align: left;
    transform: translateY(-25%);
    position: relative;
    z-index: -1000;
  }
  .features__title {
    font-size: 2.2rem;
  }
  .features__desc {
    width: 50%;
  }
  .features__cards {
    display: flex;
    flex-direction: row;
  }
  .features__card {
    margin-right: 4rem;
  }
  .features__card--title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .articles {
    padding-top: 0rem;
  }
  .articles__title {
    text-align: left;
    font-size: 2.2rem;
    margin-bottom: 3.5rem;
  }
  .articles__cards {
    flex-direction: row;
    align-items: center;
  }
  .articles__card {
    margin-right: 2rem;
  }
  .articles__card--title {
    padding-right: 2rem;
  }

  .footer__section {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .footer__nav--links {
    display: flex;
    width: 40%;
  }
  .footer__social {
    width: 20%;
  }
  .footer__social--icons {
    margin: 0;
    width: 65%;
    margin-top: 2rem;
  }
  .footer__nav--1 {
    margin-right: 4rem;
  }
  .footer__cta {
    text-align: right;
  }
}

/*# sourceMappingURL=styles.css.map */
