@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
	--bodyColor: hsl(0, 0%, 100%);

	--darkBlueintro-email: hsl(217, 28%, 15%);
	--darkBluemain: hsl(218, 28%, 13%);
	--darkBluefooter: hsl(216, 53%, 9%);
	--darkBlutestimonials: hsl(219, 30%, 18%);

	--cyancta: hsl(176, 68%, 64%);
	--bluecta: hsl(198, 60%, 50%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 14px;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--bodyColor);
}

h1,
h2,
h3,
h4,
.navbar__links {
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.intro {
	padding-top: 3rem;
	background-color: var(--darkBlueintro-email);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid; */
}

.navbar__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	/* border: 1px solid; */
}

#navbar__brand {
	width: 60%;
}

.navbar__link + .navbar__link {
	margin-left: 2rem;
}

.hero__text {
	/* background-image: url(/images/bg-curvy-mobile.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom; */
	padding-bottom: 5rem;
}

.hero__content {
	/* border: 1px solid; */
	margin-top: 2rem;
	text-align: center;
}

.hero__img {
	margin-bottom: 2rem;
}

.hero__heading {
	font-size: 2.1rem;
	margin-bottom: 2rem;
	line-height: 1.5;
}

.hero__para {
	font-size: 1.3rem;
	line-height: 1.4;
	margin-bottom: 2.2rem;
}

.hero__cta {
	width: 75%;
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 1rem;
	/* border: 1px solid; */
	border-radius: 40px;
	margin: 0 auto;
	background: linear-gradient(to right, var(--cyancta) 0%, var(--bluecta) 100%);
	color: var(--bodyColor);
}

.main {
	background-color: var(--darkBluemain);
}

.service__items {
	/* margin-top: 2rem; */
	text-align: center;
	padding-top: 4rem;
}

.service__item {
	margin-top: 5rem;
}

.service__info {
	margin-top: 1.8rem;
}

.service__info h3 {
	font-size: 1.5rem;
}

.service__info p {
	font-size: 1.1rem;
	margin: 0 auto;
	margin-top: 0.8rem;
}

.productive__details {
	margin-top: 2rem;
}

.testinomials__content {
	/* border: 1px solid; */
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

.testinomials__item {
	border: 1px solid;
}

.testinomial__person {
	display: flex;
}

.person__profile img {
	width: 45px;
	border-radius: 50%;
}

.subscription__cta__details {
	/* border: 1px solid; */
	margin: 0 auto;
	margin-top: 2rem;
	text-align: center;
	width: 90%;
}

.subscription__input__field input {
	/* border: 1px solid; */
	border-radius: 40px;
	padding: 1rem;
	width: 80%;
}

.subscription__submit__btn a {
	display: block;
	text-decoration: none;
	/* border: 1px solid; */
	border-radius: 40px;
	padding: 1rem;
}

.subscription__submit__btn {
	width: 80%;
	margin: 0 auto;
}

.footer {
	background-color: var(--darkBluefooter);
	padding-top: 8rem;
}

.footer__sitemap__links {
	list-style: none;
	margin-bottom: 2rem;
}

.social__icons {
	/* border: 1px solid; */
	display: flex;
	list-style: none;
	margin: 0 auto;
	width: 40%;
}

.subscribtion__cta {
	transform: translateY(50%);
}

@media only screen and (min-width: 650px) {
	/* .hero__text {
		background-image: url(/images/bg-curvy-desktop.svg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
	} */

	.intro {
		padding-top: 5rem;
	}

	#navbar__brand {
		width: 100%;
	}

	.navbar__link + .navbar__link {
		margin-left: 4rem;
	}

	.hero__heading {
		font-size: 2.6rem;
	}

	.hero__text {
		width: 46%;
		margin: 0 auto;
	}

	.hero__cta {
		width: 40%;
	}

	.service__items {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
	}

	.service__item {
		width: 50%;
	}

	.service__info p {
		width: 60%;
	}

	.productive__details {
		display: flex;
		align-items: center;
		/* border: 1px solid; */
	}

	.testinomials__content {
		flex-direction: row;
	}

	.subscription__cta__details {
		width: 60%;
	}

	.subscription__cta__form {
		display: flex;
		margin: 0 auto;
		/* border: 1px solid; */
		justify-content: space-around;
		align-items: center;
	}

	.subscription__input__field {
		width: 61%;
		/* border: 1px solid; */
	}

	.subscription__input__field input {
		width: 100%;
	}

	.subscription__submit__btn {
		width: 32%;
		/* border: 1px solid; */
	}

	.subscription__submit__btn a {
		width: 100%;
	}

	.footer__details {
		display: flex;
		margin: 0 auto;
		/* border: 1px solid; */
		margin-bottom: 2rem;
		justify-content: space-between;
	}

	.footer__sitemap {
		display: flex;
	}

	.social__icons {
		width: 100%;
	}
}
