@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
	--bodyColor: hsl(0, 0%, 100%);

	--darkBlueintro-email: hsl(217, 28%, 15%);
	--darkBluemain: hsl(218, 28%, 13%);
	--darkBluefooter: hsl(216, 53%, 9%);
	--darkBlutestimonials: hsl(219, 30%, 18%);

	--cyancta: hsl(176, 68%, 64%);
	--bluecta: hsl(198, 60%, 50%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 14px;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--bodyColor);
}

h1,
h2,
h3,
h4,
.navbar__links {
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.intro {
	padding-top: 3rem;
	background-color: var(--darkBlueintro-email);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid; */
}

.navbar__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	/* border: 1px solid; */
}

#navbar__brand {
	width: 60%;
}

.navbar__link + .navbar__link {
	margin-left: 2rem;
}

.hero {
	background-image: url(/images/bg-curvy-mobile.svg);
	padding: 3%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.hero__content {
	/* border: 1px solid; */
	margin-top: 2rem;
	text-align: center;
}

.hero__img {
	margin-bottom: 2rem;
}

.hero__heading {
	font-size: 2.1rem;
	margin-bottom: 2rem;
	line-height: 1.5;
}

.hero__para {
	font-size: 1.3rem;
	line-height: 1.4;
	margin-bottom: 2.2rem;
}

.hero__cta {
	width: 75%;
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 1rem;
	/* border: 1px solid; */
	border-radius: 40px;
	margin: 0 auto;
	background: linear-gradient(to right, var(--cyancta) 0%, var(--bluecta) 100%);
	color: var(--bodyColor);
}

.main {
	background-color: var(--darkBluemain);
}

.service__items {
	/* margin-top: 2rem; */
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.service__item {
	margin-top: 5rem;
}

.service__info {
	margin-top: 1.8rem;
}

.service__info h3 {
	font-size: 1.5rem;
}

.service__info p {
	font-size: 1.1rem;
	margin: 0 auto;
	margin-top: 0.8rem;
}

.productive {
	padding-bottom: 5rem;
}

.productive__details {
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.productive__text {
	margin-top: 3rem;
}

.productive__text h2 {
	text-align: center;
	font-size: 1.6rem;
}

.productive__text p {
	font-size: 1.2rem;
	line-height: 1.6;
	margin-bottom: 1.4rem;
}

.productive__cta {
	display: table;
	text-decoration: none;
	color: var(--cyancta);
	cursor: pointer;
	font-size: 1.2rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid var(--cyancta);
}

.arrow {
	width: 20px;
	vertical-align: middle;
	margin-left: 0.3rem;
}

.testinomials {
	padding: 2rem;
	background-image: url(/images/bg-quotes.png);
	background-repeat: no-repeat;
	background-position-x: 5%;
}

.testinomials__content {
	/* border: 1px solid; */
	display: flex;
	flex-direction: column;
}

.testinomials__item {
	background-color: var(--darkBlutestimonials);
	border-radius: 10px;
	margin-bottom: 2rem;
	padding: 2rem;
}

.testinomial__para {
	margin-bottom: 1.5rem;
}

.testinomial__para p {
	font-size: 1.1rem;
	line-height: 1.6;
}

.testinomial__person {
	display: flex;
	align-items: center;
}

.person__profile img {
	width: 40px;
	margin-right: 1.2rem;
	border-radius: 50%;
}

.person__info {
	font-size: 0.9rem;
}

.subscription__cta__details {
	/* border: 1px solid; */
	margin: 0 auto;
	margin-top: 2rem;
	text-align: center;
	width: 90%;
	background-color: var(--darkBlueintro-email);
	padding: 2.1rem;
	border-radius: 10px;
}

.subscription__cta__text h3 {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.subscription__cta__text p {
	font-size: 1.1rem;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.subscription__input__field input {
	/* border: 1px solid; */
	border-radius: 40px;
	padding: 1rem;
	width: 80%;
}

.subscription__submit__btn a {
	display: block;
	text-decoration: none;
	border-radius: 40px;
	padding: 1rem;
	color: var(--bodyColor);
	font-size: 1rem;
	font-weight: 700;
	background: linear-gradient(to right, var(--cyancta) 0%, var(--bluecta) 100%);
	margin-top: 1.5rem;
}

.subscription__submit__btn {
	width: 80%;
	margin: 0 auto;
}

.footer {
	background-color: var(--darkBluefooter);
	padding-top: 18rem;
	padding-bottom: 8rem;
}

.footer__sitemap__links {
	list-style: none;
	margin-bottom: 2rem;
}

.footer__details {
	padding-top: 2rem;
}

.footer__details p,
.footer__sitemap__links {
	font-size: 1.2rem;
}

.footer__address {
	display: flex;
	margin-bottom: 1.5rem;
}

.footer__address p {
	margin-left: 1.5rem;
}

.footer__contact,
.footer__phone {
	margin-bottom: 1.5rem;
}

.footer__contact {
	margin-bottom: 6rem;
}

.icons {
	width: 20px;
	margin-right: 1rem;
}

.footer__sitemap__links li {
	margin-bottom: 1rem;
}

.links--2 {
	margin-bottom: 8rem;
}

.social__icons {
	display: flex;
	list-style: none;
	margin: 0 auto;
	width: 30%;
	justify-content: space-around;
}

.social__icon {
	width: 25px;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid var(--bodyColor);
}

.subscribtion__cta {
	transform: translateY(50%);
}

.attribution {
	background-color: var(--darkBluefooter);
	font-size: 11px;
	text-align: center;
	padding-bottom: 2rem;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 650px) {
	.intro {
		padding-top: 5rem;
	}

	#navbar__brand {
		width: 100%;
	}

	.navbar__link + .navbar__link {
		margin-left: 4rem;
	}

	.hero {
		background-image: url(/images/bg-curvy-desktop.svg);
	}

	.hero__heading {
		font-size: 2.6rem;
	}

	.hero__text {
		width: 46%;
		margin: 0 auto;
	}

	.hero__cta {
		width: 40%;
	}

	.service__items {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
	}

	.service__item {
		width: 50%;
	}

	.service__info p {
		width: 60%;
	}

	.productive__details {
		display: flex;
		align-items: center;
		justify-content: space-around;
		/* border: 1px solid; */
	}

	.productive__img {
		width: 45%;
	}

	.productive__text {
		width: 45%;
	}

	.productive__text h2 {
		width: 55%;
		text-align: left;
		font-size: 2.8rem;
		margin-bottom: 1.8rem;
	}

	.testinomials__content {
		flex-direction: row;
	}

	.testinomials__item {
		padding: 3rem;
	}

	.testinomials__item + .testinomials__item {
		margin-left: 2rem;
	}

	.subscription__cta__details {
		padding: 3rem;
		width: 60%;
	}

	.subscription__cta__form {
		display: flex;
		margin: 0 auto;
		/* border: 1px solid; */
		justify-content: space-around;
		align-items: center;
	}

	.subscription__input__field {
		width: 61%;
		/* border: 1px solid; */
	}

	.subscription__input__field input {
		width: 100%;
	}

	.subscription__submit__btn {
		width: 32%;
		/* border: 1px solid; */
	}

	.subscription__submit__btn a {
		margin-top: 0;
		width: 100%;
	}

	.footer__details {
		display: flex;
		margin: 0 auto;
		/* border: 1px solid; */
		margin-bottom: 2rem;
		justify-content: space-between;
	}

	.footer__address {
		width: 25%;
	}

	.footer__contact {
		width: 20%;
	}

	.footer__sitemap {
		width: 20%;
		display: flex;
		justify-content: space-around;
	}

	.footer__social__icons {
		width: 8%;
	}

	.social__icons {
		width: 100%;
	}
}
