@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
	--Cyan: hsl(180, 66%, 49%);
	--DarkViolet: hsl(257, 27%, 26%);
	--Red: hsl(0, 87%, 67%);
	--Gray: hsl(0, 0%, 75%);
	--GrayishViolet: hsl(257, 7%, 63%);
	--VeryDarkBlue: hsl(255, 11%, 22%);
	--VeryDarkViolet: hsl(260, 8%, 14%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

img {
	max-width: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 3rem;
}

.nav__links {
	list-style: none;
}

#signup {
	cursor: pointer;
	padding: 0.5rem 1.2rem;
	border-radius: 30px;
	color: #fff;
	width: 35%;
	text-align: center;
	background-color: var(--Cyan);
}

.nav-item {
	color: var(--GrayishViolet);
	font-weight: 600;
}

.cta__hero {
	text-decoration: none;
	cursor: pointer;
	padding: 0.5rem 2rem;
	border-radius: 30px;
	color: #fff;
	width: 45%;
	text-align: center;
	background-color: var(--Cyan);
}

@media only screen and (min-width: 961px) {
	body {
		margin: 0 auto;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav__links {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.nav__links img {
		margin-top: 10px;
	}

	.nav-item {
		margin-right: 1.5rem;
	}

	.nav-item:nth-child(2) {
		margin-left: 1.2rem;
	}

	#signup {
		width: 100%;
	}

	.hero__content {
		margin-top: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.hero__text {
		width: 50%;
	}

	.hero__img {
		width: 45%;
	}

	.hero__text h1 {
		font-size: 4.5rem;
		line-height: 1.2;
		color: var(--VeryDarkBlue);
		margin-bottom: 0.5rem;
	}

	.hero__text p {
		color: var(--GrayishViolet);
		width: 82%;
		font-size: 1.3rem;
		line-height: 1.5;
		margin-bottom: 2.5rem;
	}

	.cta__hero {
		width: 100%;
	}
}
