@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
	--Cyan: hsl(180, 66%, 49%);
	--DarkViolet: hsl(257, 27%, 26%);
	--Red: hsl(0, 87%, 67%);
	--Gray: hsl(0, 0%, 75%);
	--GrayishViolet: hsl(257, 7%, 63%);
	--VeryDarkBlue: hsl(255, 11%, 22%);
	--VeryDarkViolet: hsl(260, 8%, 14%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

img {
	max-width: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.container {
	width: 80%;
	margin: 0 auto;
	margin-top: 3rem;
}

.nav__links {
	list-style: none;
	text-align: center;
}

#signup {
	cursor: pointer;
	padding: 0.5rem 1.2rem;
	border-radius: 30px;
	color: #fff;
	width: 80%;
	text-align: center;
	background-color: var(--Cyan);
	margin: 0 auto;
}

.nav-item {
	color: var(--GrayishViolet);
	font-weight: 600;
}

.cta__hero {
	text-decoration: none;
	cursor: pointer;
	padding: 0.5rem 2rem;
	border-radius: 30px;
	color: #fff;
	width: 45%;
	text-align: center;
	background-color: var(--Cyan);
}

#hero {
	margin-bottom: 6rem;
}

.hero__content {
	display: flex;
	flex-direction: column;
	margin-bottom: 10rem;
}

.hero__text {
	order: 2;
	text-align: center;
}

.hero__img {
	order: 1;
	margin-bottom: 1.5rem;
}

.hero__text h1 {
	font-size: 2rem;
	line-height: 1.3;
	color: var(--VeryDarkBlue);
	margin-bottom: 0.5rem;
}

.hero__text p {
	color: var(--GrayishViolet);
	margin-bottom: 2.5rem;
}

.shorten__url--form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 2rem 2rem;
	width: 100%;
	transform: translateY(-50%);
	border-radius: 10px;
	background-image: url(/images/bg-shorten-mobile.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: -125%;
	background-color: var(--DarkViolet);
}

.shorten__link--input {
	padding: 1rem 1rem;
	border-radius: 8px;
	border-style: none;
	background-color: #fff;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	color: var(--DarkViolet);
}

.shorten__link--submit {
	text-decoration: none;
	cursor: pointer;
	padding: 1rem 1rem;
	border-radius: 8px;
	color: #fff;
	text-align: center;
	border-style: none;
	background-color: var(--Cyan);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
}

#statistics {
	background-color: rgb(239, 241, 247);
}

.statistics__text {
	text-align: center;
}

.statistics__text h2 {
	margin-bottom: 1rem;
	color: var(--DarkViolet);
}

.statistics__text p {
	color: var(--GrayishViolet);
}

.statistics__cards {
	display: flex;
	flex-direction: column;
	padding-bottom: 8rem;
}

.statistics__card {
	background-color: #fff;
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 10px;
}

.card__img {
	background-color: var(--DarkViolet);
	width: 28%;
	padding: 1rem;
	text-align: center;
	border-radius: 50%;
	transform: translateY(-80%);
	margin: 0 auto;
}

.card__img img {
	width: 80%;
}

.card__text {
	text-align: center;
	margin-top: -2rem;
}

.card__text h3 {
	color: var(--DarkViolet);
	margin-bottom: 1rem;
}

.card__text p {
	color: var(--GrayishViolet);
	font-size: 1rem;
}

@media only screen and (min-width: 961px) {
	body {
		margin: 0 auto;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.nav__links {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.nav__links img {
		margin-top: 10px;
	}

	.nav-item {
		margin-right: 1.5rem;
	}

	.nav-item:nth-child(2) {
		margin-left: 1.2rem;
	}

	#signup {
		width: 100%;
	}

	.hero__content {
		margin-top: 5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}

	.hero__text {
		order: 1;
		width: 50%;
		text-align: left;
	}

	.hero__text h1 {
		font-size: 4.5rem;
		line-height: 1.2;
	}

	.hero__text p {
		width: 82%;
		font-size: 1.3rem;
		line-height: 1.5;
	}

	.hero__img {
		order: 2;
		width: 45%;
	}

	.cta__hero {
		width: 100%;
	}

	.shorten__url--form {
		flex-direction: row;
		justify-content: center;
		background-image: url(/images/bg-shorten-desktop.svg);
		background-repeat: no-repeat;
		background-size: cover;
		padding: 3rem 2rem;
	}

	.shorten__link--input {
		width: 70%;
		margin-right: 1.5rem;
		font-size: 1.3rem;
	}

	.shorten__link--submit {
		width: 15%;
		margin-right: 1.5rem;
	}

	.statistics__text h2 {
		font-size: 2.5rem;
	}

	.statistics__text p {
		width: 50%;
		margin: 0 auto;
	}

	.statistics__cards {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	.statistics__card {
		width: 30%;
	}
}
