@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
	--veryDarkGrayishBlue: hsl(217, 19%, 35%);
	--desaturatedDarkBlue: hsl(214, 17%, 51%);
	--grayishBlue: hsl(212, 23%, 69%);
	--lightGrayishBlue: hsl(210, 46%, 95%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Manrope', sans-serif;
	background-color: var(--lightGrayishBlue);
}

img {
	max-width: 100%;
}

main {
	padding: 2rem;
}
.article {
	border-radius: 1rem;
	background-color: #fff;
	padding-bottom: 2rem;
}

.article-image img {
	width: 100%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.article-details {
	padding: 2.5rem;
}

.article-details h3 {
	font-weight: 900;
	line-height: 1.5;
	margin-bottom: 1rem;
	color: var(--veryDarkGrayishBlue);
}

.article-details p {
	margin-bottom: 2rem;
	line-height: 1.5;
	color: var(--desaturatedDarkBlue);
}

.author-image img {
	width: 70px;
	border-radius: 50%;
}

.author-details {
	display: flex;
	justify-content: space-around;
}

@media only screen and (min-width: 961px) {
	main {
		display: flex;
		height: 100vh;
		align-items: center;
	}

	.article {
		display: flex;
		align-items: center;
		border: 1px solid;
		margin: 0 auto;
		width: 50%;
		padding-bottom: 0rem;
	}

	.article-image {
		width: 30%;
	}

	.article-details {
		width: 70%;
	}
}
