@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
	--softBlue: hsl(231, 69%, 60%);
	--softRed: hsl(0, 94%, 66%);
	--grayishBlue: hsl(229, 8%, 60%);
	--veryDarkBlue: hsl(229, 31%, 21%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.navbar__header {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 2rem;
}

.nav__links {
	list-style: none;
	text-transform: uppercase;
	color: var(--veryDarkBlue);
}

#hero {
	margin-top: 5rem;
}

.hero__text {
	width: 80%;
	margin: 0 auto;
}

.hero__content {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.title__hero {
	color: var(--veryDarkBlue);
	margin-bottom: 1.5rem;
}

.hero__para {
	margin: 0 auto;
	color: var(--grayishBlue);
	line-height: 1.5;
	margin-bottom: 2rem;
}

.hero__btns {
	display: flex;
	padding-top: 1rem;
	width: 100%;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 5rem;
}

.hero__btn1 {
	font-size: 12px;
	padding: 0.8rem;
	text-decoration: none;
	font-weight: 500;
	border-radius: 5px;
	background-color: var(--softBlue);
	color: #fff;
	margin-right: 2rem;
}

.hero__btn2 {
	font-size: 12px;
	padding: 0.8rem;
	text-decoration: none;
	font-weight: 500;
	border-radius: 5px;
	background-color: #f2f5f6;
	color: #292f31;
	box-shadow: 0px 4px 7px -1px rgba(41, 47, 49, 0.2);
}

@media only screen and (min-width: 650px) {
	.navbar__header {
		flex-direction: row;
		justify-content: space-between;
	}

	.nav__links {
		width: 45%;
		display: flex;
		justify-content: space-around;
		font-size: 1rem;
		align-items: center;
	}

	.cta__login {
		background-color: var(--softRed);
		padding: 0.8rem 2.5rem 0.8rem 2.5rem;
		border-radius: 5px;
		color: #fff;
	}

	.hero__content {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		align-items: center;
		margin: 0 auto;
	}

	.hero__text {
		width: 40%;
	}

	.title__hero {
		font-size: 3rem;
	}

	.hero__para {
		width: 100%;
		padding-right: 5rem;
	}

	.hero__btns {
		margin: 0;
		justify-content: flex-start;
	}

	.hero__btn1 {
		padding: 1rem 1.5rem 1rem 1.5rem;
	}

	.hero__btn2 {
		padding: 1rem 1.5rem 1rem 1.5rem;
	}
}

/* .attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
} */
