@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--pink: hsl(322, 100%, 66%);
	--veryPaleCyan: hsl(193, 100%, 96%);
	--veryDarkCyan: hsl(192, 100%, 9%);
	--grayishBlue: hsl(208, 11%, 55%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

.header-area {
	background-image: url(/images/bg-hero-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
}

.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	margin-top: 15px;
}

.navbar-cta a {
	text-decoration: none;
	padding: 10px 50px 10px 50px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.07);
	font-weight: 700;
	color: #000000;
}

.hero {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-content {
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}

.hero-content h1 {
	font-size: 30px;
	font-weight: 600;
	margin: 20px 35px;
}

.hero-content p {
	margin: 10px 35px;
}

.hero-content a {
	margin: 20px 35px;
	padding: 10px;
	text-decoration: none;
	border-radius: 40px;
	background-color: var(--pink);
	font-weight: 700;
	color: #fff;
	width: 60%;
	height: 50px;
	text-align: center;
}

.hero-image img {
	width: 80%;
	max-height: 80%;
}
