@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--pink: hsl(322, 100%, 66%);
	--veryPaleCyan: hsl(193, 100%, 96%);
	--veryDarkCyan: hsl(192, 100%, 9%);
	--grayishBlue: hsl(208, 11%, 55%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

.header-area {
	background-image: url(/images/bg-hero-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #000;
}

/* .navbar {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 45px;
	margin-top: 15px;
} */

.navbar-cta a {
	text-decoration: none;
	padding: 10px 50px 10px 50px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.07);
	font-weight: 700;
	color: #000000;
}

/* .hero {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
}

.hero-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
} */

.hero-content h1 {
	font-size: 30px;
	font-weight: 600;
}

.hero-content a {
	text-decoration: none;
	border-radius: 40px;
	background-color: var(--pink);
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 961px) {
	.page {
		width: 1200px;
		margin: 0 auto;
	}
}
