@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
	--pink: hsl(322, 100%, 66%);
	--veryPaleCyan: hsl(193, 100%, 96%);
	--veryDarkCyan: hsl(192, 100%, 9%);
	--grayishBlue: hsl(208, 11%, 55%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

img {
	width: 100%;
}

.header-area,
.details,
.footer-area {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.header-area {
	background-image: url(/images/bg-hero-desktop.svg);
	background-color: var(--veryPaleCyan);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 4rem;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1.5rem;
	margin-top: 1rem;
}

.navbar-cta a {
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 40px;
	background-color: #fff;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
	font-weight: 700;
	color: #000000;
}

.hero-content {
	padding: 2rem;
	text-align: center;
}

h1 {
	font-size: 2rem;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	font-family: 'Poppins', sans-serif;
}

.hero-content p {
	font-size: 18px;
	margin-bottom: 3rem;
}

.hero-content a {
	padding: 1rem 3em;
	text-decoration: none;
	border-radius: 40px;
	background-color: var(--pink);
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.hero-image img {
	max-width: 400px;
	display: block;
	margin: 0 auto;
	margin-top: 3rem;
}

.details-card {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 4rem;
	padding: 2rem;
	border-radius: 1.5rem;
}

.details-card h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}

.details-card p {
	opacity: 0.6;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 961px) {
	body {
		margin: 0 auto;
	}

	.navbar-brand > img:nth-child(1) {
		margin-left: 3rem;
	}

	.navbar-cta > a:nth-child(1) {
		margin-right: 3rem;
	}

	.hero {
		display: flex;
		justify-content: space-around;
		width: 90%;
		align-items: center;
		margin: 0 auto;
		margin-top: 2rem;
	}

	h1 {
		font-size: 2.5rem;
		margin-right: 4rem;
	}

	.hero-image img {
		margin-left: 2rem;
		max-width: 100%;
	}

	.hero-content {
		text-align: left;
		width: 58%;
		margin-right: 2rem;
	}

	.details-card {
		flex-direction: row;
	}
}
